Normalização dos Dados

In [14]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans

# URL do dataset Wine
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'

# Nome das colunas em português BR
column_names_pt_br = [
    'classe',
    'alcool',
    'acido_malico',
    'cinzas',
    'alcalinidade_de_cinzas',
    'magnesio',
    'fenois_totais',
    'flavanoides',
    'fenois_nao_flavanoides',
    'proantocianinas',
    'intensidade_de_cor',
    'matiz',
    'od280_od315_de_vinhos_diluidos',
    'prolina'
]

# Ler o arquivo CSV com as colunas especificadas
vinhos = pd.read_csv(url, names=column_names_pt_br, dtype={'classe': object})

# Dropar a coluna 'classe' para normalização
X = vinhos.drop('classe', axis=1)

# Reescala linear dos dados para o intervalo (0, 1)
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

Aplicação do K-Means

In [15]:
# Aplicar K-Means com 4 clusters
kmeans = KMeans(n_clusters=4, random_state=42)
vinhos['cluster'] = kmeans.fit_predict(X_scaled)

# Apresentar o valor da inércia do modelo
print(f'Inércia do modelo K-Means: {kmeans.inertia_}')

Inércia do modelo K-Means: 44.887604580852816

Análise dos Clusters

In [16]:
# Apresentar a contagem dos clusters
print("Distribuição dos clusters:")
print(vinhos['cluster'].value_counts())

Distribuição dos clusters:
cluster
2    59
1    50
0    36
3    33
Name: count, dtype: int64

Comparação com Classes Originais

In [19]:
# Comparar clusters com as classes originais
comparacao_groupby = vinhos.groupby('cluster')['classe'].value_counts()
print("\nComparação entre clusters e classes originais (usando groupby):")
print(comparacao_groupby)

# Comparar clusters com as classes originais
comparacao_crosstab = pd.crosstab(vinhos['classe'], vinhos['cluster'])
print("\nComparação entre clusters e classes originais (usando crosstab):")
print(comparacao_crosstab)

# Comparar clusters com as classes originais usando groupby
comparacao_groupby = vinhos.groupby('cluster')['classe'].value_counts()

print("Distribuição de classes em cada cluster (usando groupby):")
print(comparacao_groupby)

# Comparar clusters com as classes originais usando crosstab
comparacao_crosstab = pd.crosstab(vinhos['classe'], vinhos['cluster'])

print("\nTabela cruzada entre classes e clusters:")
print(comparacao_crosstab)

Comparação entre clusters e classes originais (usando groupby):
cluster  classe
0        2         34
         1          2
1        3         48
         2          2
2        1         57
         2          2
3        2         33
Name: count, dtype: int64

Comparação entre clusters e classes originais (usando crosstab):
cluster   0   1   2   3
classe
1         2   0  57   0
2        34   2   2  33
3         0  48   0   0
Distribuição de classes em cada cluster (usando groupby):
cluster  classe
0        2         34
         1          2
1        3         48
         2          2
2        1         57
         2          2
3        2         33
Name: count, dtype: int64

Tabela cruzada entre classes e clusters:
cluster   0   1   2   3
classe
1         2   0  57   0
2        34   2   2  33
3         0  48   0   0